{% extends "master.html" %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}
    <p> Czlonkowie </p>
    <ul>
    {% for x in czlonkowie %}
    <li>  <a href="details/{{ x.id }}"> {{ x.imie }} {{ x.nazwisko }}</a>  </li>
    </ul>
    {% endfor %}
<script src="{% static 'naukaJS.js' %}"></script>
    <button onclick="myFunction()">Kliknij 1</button>
    <button onclick="mojaData()"> Zadanie 1, data</button>
    <button onclick="printer()"> Zadanie 2, printer</button>
    <button onclick="data2()"> Zadanie 3, dzien/miesiac/rok</button>
    <button onclick="trojkat()"> Zadanie 4, trojkat</button>
    <button onclick="obrot()"> Zadanie 5, obrot</button>


{% endblock %}