{% extends "master.html" %}
{% load static %}
{% block title %}

{% endblock %}

{% block content %}


    <p> Czlonkowie </p>
    <ul>
    {% for x in czlonkowie %}
    <li>  <a href="details/{{ x.id }}"> {{ x.imie }} {{ x.nazwisko }}</a>  </li>
    </ul>
    {% endfor %}


<script src="{% static 'naukaJS.js' %}"></script>
    <button onclick="myFunction()">Kliknij 1</button>
    <button onclick="mojaData()"> Zadanie 1, data</button>
    <button onclick="printer()"> Zadanie 2, printer</button>
    <button onclick="data2()"> Zadanie 3, dzien/miesiac/rok</button>
    <button onclick="trojkat()"> Zadanie 4, trojkat</button>
    <button onclick="obrot()"> Zadanie 5, obrot</button>
    <button onclick="rokPrzestepny()"> Zadanie 6, rok przestepny:</button>
    <button onclick="zgadywarka()"> Zadanie  8 zgadywarka :</button>
    <button onclick="dniDoSwiat()"> Zadanie 9 dni do swiat: </button>
    <button onclick="pali()"> cwiczenie palindrom test </button>

   <form>
    Zadanie 10: Dzielenie i mnozenie:
1st Number : <input type="text" id="firstNumber" /><br>
2nd Number: <input type="text" id="secondNumber" /><br>
<input type="button" onClick="mnozenie()" Value="Multiply" />
<input type="button" onClick="dzielenie()" Value="Divide" />
</form>
    <p>Wynik to:</p>
<span id="wynik">

</span>

    <p> zadanie 11 - zamien temperature celciusz na farenheit i na odwrót</p>
    <form>
    Temperatura w celciusz:
 Tem  w Celciusz:    <input type="text" id="celciusz" /><br>
 Tem w Faren:        <input type="text" id="faren" /> <br>

    <input type="button" onClick="celToFar()" value="wynik">
  </form>
    <p> Wynikiem zamiany jest: </p>
    <span id="wynikCelciusz"></span>
    <span id="wynikFaren"></span>

    </span>

    <button onclick="adress()"> Zadanie 12 URL strony: </button>

<form>
Podaj nazwe zmiennej:
    <input type="text" id="nazwaZmiennej"/><br>
Podaj warosc do zmiennej:
    <input type="text" id="wartosc"/><br>


</form>


    <button onclick="nazwaZmiennej()"> Zadanie 13 nazwa zmiennej </button>


<form>
Zadanie 14 - roznica od 13;
    <input type="text" id="liczba"/><br>
</form>
        <button onclick="roznica13()"> Zadanie 14 - roznica od 13 </button>

{% endblock %}
